.section {
    min-height: 662px;
    height: 100vh;
    position: relative;
}

.hero {
    line-height: auto;
    color: var(--white);
    width: calc(var(--width-k) * 998);
    position: absolute;
    top: 50%;
    left: calc(var(--width-k) * 188);
    transform: translateY(-50%)
}

.asterisk__container {
    display: flex;
    align-items: center;
    margin-bottom: calc(var(--width-k) * 30);
}

.asterisk {
    width: calc(var(--width-k) * 80);
    margin-right: calc(var(--width-k) * 30);
    margin-top: calc(var(--width-k) * 7);
}

.registered {
    font-weight: 200;
}

.first_heading {
    font-weight: 400;
    font-size: calc(var(--width-k) * 119);
    text-transform: uppercase;
    line-height: 85%;
}

.second_heading {
    font-weight: 400;
    font-size: calc(var(--width-k) * 119);
    text-transform: uppercase;
    line-height: 85%;
}

.third_heading {
    font-weight: 400;
    font-size: calc(var(--width-k) * 119);
    text-transform: uppercase;
    line-height: 85%;
    margin-left: calc(var(--width-k) * 217);
}

.second_heading__wrapper {
    display: flex;
    gap: calc(var(--width-k) * 54);
    margin-bottom: calc(var(--width-k) * 30);
}

.second_heading__paragraph {
    width: calc(var(--width-k) * 271);
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: calc(var(--width-k) * 14);
    line-height: calc(var(--width-k) * 21);
    margin-top: calc(var(--width-k) * 2);
}