.ticker__wrapper {
    width: fit-content;
    height: calc(var(--width-k) * 114);
    background-color: var(--brand); 
    display: flex;
    gap: calc(var(--width-k) * 32);
    align-items: center;
    justify-content: center;
}

.ticker {
    text-transform: uppercase;
    font-size: calc(var(--width-k) * 57);
    line-height: 87%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(var(--width-k) * 32);
    white-space: nowrap;
    overflow: hidden;
}

.ticker__inner {
    display: flex;
    gap: calc(var(--width-k) * 32);
}

.arrow {
    width: calc(var(--width-k) * 57);
}