.section {
    min-height: 662px;
    height: 100vh;
    position: absolute;
    background-color: var(--bg-primary);
    z-index: 1000;
}

.preloader__wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.progressbar__wrapper {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    width: calc(var(--width-k) * 376);
    height: calc(var(--width-k) * 2);
    margin-bottom: calc(var(--width-k) * 24);;
}

.progressbar {
    display: flex;
    align-items: center;
}

.progress__current {
    width: calc(var(--width-k) * 376);
    height: calc(var(--width-k) * 2);;
    background-color: var(--white);
}

.progress__overall {
    width: calc(var(--width-k) * 376);
    height: calc(var(--width-k) * 2);
    background-color: rgba(255, 255, 255, 0.22)
}

.indication__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    /* font-family: 'DM Sans', sans-serif; */
    font-weight: 200;
    font-size: calc(var(--width-k) * 16);
}

.indicator__holder {
    display: flex;
    gap: calc(var(--width-k) * 8);
    align-items: center;
}

.indicator {
    width: calc(var(--width-k) * 7);
    height: calc(var(--width-k) * 7);
    overflow: hidden;
    border-radius: calc(var(--width-k) * 1);
    background-color: var(--brand);
}

.pulse {
    animation: Pulsate 2s linear;
    animation-iteration-count: 2;
}

@keyframes Pulsate {
    from { opacity: 1; }
    50% { opacity: 0.3; }
    to { opacity: 1; }
}