.section {
    margin: calc(var(--width-k) * 240) 0;
    width: 100%;
    height: calc(var(--width-k) * 294);
    overflow: hidden;
}

.ticker__position {
    position: relative;
}

.upper__ticker {
    position: absolute;
    transform: translateX(calc(var(--width-k) * 1440 * -1)) translateY(calc(var(--width-k) * 33)) rotate(-4deg);
}

.lower__ticker {
    position: absolute;
    transform: translateX(calc(var(--width-k) * 1440 * -1)) translateY(calc(var(--width-k) * 111)) rotate(4deg);
}