.section {
  width: 100%;
  height: calc(var(--width-k) * 294);
  overflow: hidden;
}

.ticker__position {
  position: relative;
  transform: translateX(calc(var(--width-k) * 610 * -1));
}

.upper__ticker {
  position: absolute;
  top: 0;
  right: 0;
  transform-origin: top right;
  transform: translateX(calc(var(--width-k) * 610)) rotate(-4deg);
}

.lower__ticker {
  position: absolute;
  transform-origin: top left;
  transform: rotate(4deg);
}
